body{ 
    background-color: lawngreen;
}
h1{
    color:black;
    background-color: greenyellow;
}
#show_sketch
{
    float: right;
}
canvas{
    border: 10px solid white ;
    border-radius: 20px;
    animation-name: animation;
    animation-duration: 4s;
    margin-top: 50px;
    animation-iteration-count: infinite;
}
@keyframes animation {
 from{box-shadow: 1px 1px 38px white;}
 to{box-shadow: 1px 1px 38px rgb(99, 12, 205);}
}
p {
    padding-top: 10px;
    font-size: 25px;
}